
<section class="sidebar" role="navigation">

  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#"> <i class="fa fa-home"></i> Home</a></li>
    <li role="presentation"><a href="#"><i class="fa fa-dollar"></i> Benefits</a></li>
    <li role="presentation"><a href="#"><i class="fa fa-calendar"></i> Calendar</a></li>
    <li role="presentation"><a href="#"><i class="fa fa-envelope"></i> Message</a></li>
    <li role="presentation"><a href="#"><i class="fa fa-cog"></i> Setting</a></li>
  </ul>
</section>
