body,html{
	height: 100%;
	width: 100%;
}


/*----------HEADER------------*/

.main-navbar{
	background: #1667AC;
}

.main-navbar > ul > li > a{
	color: #FFF;
}


/*-------SIDEBAR--------*/
.sidebar {
    position: absolute;
    width: 200px;
    background-color: #337ab7;
    height: 100%;
}

.sidebar .nav-pills{
    margin-top: 2px;
}

.sidebar .nav-pills li a i{
    width: 20px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}

/*--------MAIN CONTENT--------*/

#main-content{
	position: relative;
	left: 200px;
    padding: 10px 20px;
}

/*---------OVERWRITE---------*/

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}

.navbar-brand{
	padding: 0 15px !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #1667AC !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #1667AC;
}

.nav-pills>li>a {
    color: #FFF;
    padding: 18px 15px;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
    color: #FFF;
}